/* - BEGIN: Arrows - */

.yummy-yam-arrow {
	transition: color 300ms;
	color: $shadow;

	display: inline-block;
	margin-top: 10vh;

	// text-decoration: none;

}

.yummy-yam-arrow:hover {
	border-color: transparent;
	color: $dark;
}

/* - END: Arrows - */