.title-h1 {
	text-align: center;
	padding-top: 5vh;
}

.title-h1 h1 {
	display: inline;
	text-shadow: 0 0 2px black;

	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;
}

a {
	text-decoration: none;
	color: $dark;
	transition: 500ms;
	border-bottom: 2px solid transparent;
}

a:hover {
	color: $dark;
}

.star {
	display: inline;
	text-shadow: 1px 1px 0.2em black;

	padding-left: 20px;
	padding-right: 20px;
}

.error-404 {
	height: 100vh;
	width: 100%;
	text-align: center;
	padding-top: 20vh;
	background-size: cover;
}


.hide {
	display: none;
}