a {
	text-decoration: none;
	color: black;
}

.content {
	background-image: url("../img/theme/background.png");
	background-color: #ffffff; /* bootstrap: $white */
	// background-repeat: repeat-y;
	background-size: 100%;

	margin-top: navbarHeight(); /* @see ./header.css */
	color: #343a40; /* main.scss: $dark -> $gray-800 */
	min-height: 90vh;
}

.yummy-yam-title {
	display: inline;

	text-align: center;
}

.link {
	text-decoration: none;
	transition: 300ms;
	border-bottom: 1px solid transparent;
	color: $shadow;

	&:hover {
		color: $shadow;
		text-decoration: none;
		border-color: $shadow;
	}
}

.content .star {
	display: inline;
	text-shadow: 1px 1px 0.2em $shadow;

	padding-left: 20px;
	padding-right: 20px;
}

.hide {
	display: none;
}


.yummy-yam-paragraph {
	display: flex;
	justify-content: space-around;

	padding-top: 10vh;

	margin-left: auto;
	margin-right: auto;

	font-style: italic;

	width: 80%;
}
