$footer-height: 45px;
$footer-padding: 15px;

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $footer-height;
	
	background-color: $primary;

	padding-left: $footer-padding;
	padding-right: $footer-padding;
	padding-top: $footer-padding;

	border: 0;
	border-top: 2px;
	border-style: solid;
	border-color: $dark;

	display: flex;
	justify-content: space-between;
}

footer a {
	text-decoration: underline;
}

footer a:hover {
	text-decoration: none;
}

.corner-image {
	filter: drop-shadow(0 0 1rem $shadow);
	position: fixed;
	bottom: $footer-height;
}

.bottom-left {
	left: 15px;
}

.bottom-right {
	right: 15px;
}

.large {
	width: 6%;
}
