footer {
	background-color: $primary;

	padding: 15px;
	padding-bottom: 0;

	border: 0;
	border-top: 2px;
	border-style: solid;
	border-color: $dark;

	display: flex;
	justify-content: space-between;
}

footer a {
	text-decoration: underline;
}

footer p {
	font-size: 0.85em;
}