$padding: 2em;

.full-article {

	width: 50%;
	height: max-content;

	margin-left: auto;
	margin-right: auto;

	padding-bottom: 5em;

	// text-align: left;

	@media screen and #{$phone} {
		width: 70%;
	}

	@media screen and #{$tab-and-laptop} {
		width: 60%;
	}

	@media screen and #{$tv} {
		padding-bottom: 10em;

		@media (orientation: landscape) {
			width: 40%;
		}
	}

	.article-title {
		padding-top: 1em;
		margin-bottom: 1em;
		text-align: center;

		@media screen and #{$tv} {
			padding-top: 2em;
		}
	}

	p {
		@extend .paragraph;

		text-align: justify;
		font-size: 1em;

		img {
			width: 40%;
			height: auto;

			float: left;

			margin-right: $padding;

			border-radius: 5px;
			box-shadow: 0 0 15px $dark;

			@media screen and #{$phone} {
				width: 55%;
			}

			@media screen and #{$tablet} {
				width: 60%;
			}
		}

		a {
			@extend .link;
		}
	}

	.feature-image {
		width: 30%;
		height: auto;

		float: left;

		margin-right: 1.5em;

		border-radius: 5px;
		box-shadow: 0 0 15px $dark;

		@media screen and #{$tv} {
			width: 20%;
			margin-right: 3em;
			margin-bottom: 3em;

			@media (orientation: portrait) {}

			@media (orientation: landscape) {}
		}
	}

	em {
		font-size: 1em;
	}

	li {
		font-size: 1em;
		text-align: left;
	}

	pre {
		text-align: left;
		padding: 0.5em;
		background-color: #24272ba1 !important;
		border-radius: 10px;
		border-color: $dark;
		border-width: 1px;
		border-style: solid;

		code {
			span {
				color: #a6e22e !important;
			}
		}
	}

	h2 {
		text-align: left;
		padding-left: 1em;
	}

	h3 {
		font-size: 1.3em;
	}
}