 @function bannerHeight($screen: desktop) {
	$height: 10em;
  
	@if ($screen == mobile) {
		$height: 4.5em;
	}
	@else {
		@if ($screen == desktop) {
			$height: 5.5em;
		}
	}

	@return $height;
  }

.navbar-title {
	text-shadow: 0 0 0 transparent;
	color: $dark;

	@media screen and #{$phone} {
		font-size: $normal;
	}
	@media screen and #{$tab-and-laptop} {
		font-size: $normal-huge;
	}
	@media screen and #{$tv} {
		font-size: $larger-up;
	}
}

.navbar {

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;

	opacity: 1;

	padding: 0;
	
	.menu {

		background-color: $primary;
		width: 100%;

		padding: 0;
		@media screen and #{$phone} {
			padding-left: 3em;
		}
		@media screen and #{$tab-and-laptop} {
			padding-left: 1.5em;
		}
		@media screen and #{$tv} {
			padding-left: 1.5em;
		}

		.entry {
			margin-top: 0.5em;
			display: block;
			width: fit-content;
			block-size: fit-content;
			border-width: 0;
			
			.title {
				@extend .navbar-title;
				display: inline;
			}
			
			.star {
				display: inline;
				padding: 0;
				margin: 0;
				margin-right: 0.5em;
				margin-left: 0.5em;
				color: $primary;
				transition: 500ms;
				font-weight: bold;
				text-shadow: 1px 1px 0.2em $shadow;

				@extend .navbar-title;
			}

			@media screen and #{$phone} {
				.star {
					display: none;
				}
			}

			.title:hover {
				border-color: transparent;
				color: $shadow;
			}

			&:hover > .star {
				color: $shadow;
			}
		}
	}

	.banner {

		background-color: $primary;
		width: 100%;

		border-bottom: solid;
		border-color: $dark;
		border-width: 2px;
	
		margin: 0;
		padding-bottom: 0;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 1em;

		display: flex;
		justify-content: space-between;

		@media screen and #{$phone} {
			height: bannerHeight(mobile);
		}
		@media screen and #{$tab-and-laptop} {
			height: bannerHeight(desktop);
		}
		@media screen and #{$tv} {
			height: bannerHeight(tv);
		}

		.flex-container {
			width: 30%;
		}
		.left {
			text-align: left;
		}
		.middle {
			text-align: center;
		}
		.right {
			text-align: right;
		}

		.button {
			margin-left: 0;
			margin-right: auto;

			border-style: solid;
			border-width: 3px;
			border-radius: 5px;
		
			background-color: $primary;

			box-shadow: 6px 6px 6px $gray-600;
			
			@media screen and #{$phone} {
				font-size: $small;
				width: 3em;
				height: 3.5em;
			}
			@media screen and #{$tab-and-laptop} {
				font-size: $normal-huge;
				width: 2.2em;
				height: 2.2em;
			}
			@media screen and #{$tv} {
				font-size: $huge;
				
				width: 1.5em;
				height: 1.6em;
				margin-left: 0.5em;

				border-radius: 15px;
			}
		}

		.button:hover {
			box-shadow: 3px 3px 3px $gray-900;
		}

		.avatar {
			border-width: 0;
			
			.img {
				border: none;
				height: auto;
				transition: 500ms;
			}
			@media screen and #{$phone} {
				.img {
					width: 5em;
				}
			}
	
			@media screen and #{$tab-and-laptop} {
				.img {
					width: 6em;
				}
			}
	
			@media screen and #{$tv} {
				.img {
					width: 12em;
				}
			}
		}

		.home {
			display: block;
			padding-top: 1em;
			width: fit-content;
			margin-left: auto;

			.title {
				@extend .navbar-title;

				&:hover {
					color: $shadow;
				}
			}

			@media screen and #{$phone} {
				@media (orientation: portrait) {
					font-size: 0.9em;
				}
			}

			@media screen and #{$tv} {
				margin-right: 2em;
			}
		}
	}
}

















