
.list-articles {
	padding-top: 60px;
	padding-bottom: 100px;
}

.summary-article {
	text-align: left;

	width: 70%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;

	background-color: $info;
	border-radius: 10px;
	box-shadow: 5px 5px 5px;

	padding: 20px;
}

$thumbnail-size: 20%;
$margin: 10px;

// .summary-article p {

// 	margin-left: $margin;
// 	margin-right: auto;
// 	margin-top: 0;
// 	margin-bottom: 0;
// }

.thumbnail-article {
	width: 100%;
	height: auto;
}

.description-article a {
	width: $thumbnail-size;
	margin-right: $margin;
}

.description-article {
	display: flex;
	padding-top: $margin;
	padding-bottom: $margin;
}

.navigation-articles {
	width: 35%;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	justify-content: space-around;

	min-height: 6em;
}

.navigation-articles a {
	text-decoration: underline;
	transition: text-decoration 1000ms;
}

.navigation-articles a:hover {
	text-decoration: none;
}
