$padding: 2em;

.full-article {

	width: 50%;
	height: max-content;

	margin-left: auto;
	margin-right: auto;

	@media screen and #{$phone} {
		width: 70%;
	}

	.article-title {
		padding-top: 1em;
		margin-bottom: 1em;

		@media screen and #{$tv} {
			padding-top: 2em;
		}
	}

	p {
		@extend .paragraph;

		margin-bottom: $padding;
		text-align: justify;

		img {
			width: 40%;
			height: auto;

			float: left;

			margin-right: $padding;
			margin-bottom: $padding;

			border-radius: 5px;
			box-shadow: 5px 5px 5px $dark;

			@media screen and #{$phone} {
				width: 55%;
			}
			@media screen and #{$tablet} {
				width: 60%;
			}
			@media screen and #{$laptop} {
			}
			@media screen and #{$tv} {
				@media (orientation: portrait) {
				}
				@media (orientation: landscape) {
				}
			}
		}

		a {
			@extend .link;
		}
	}
}