$padding: 2em;

.full-article {

	width: 50%;

	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5em;

	.article-title {
		padding-top: $padding;
		margin-bottom: $padding;
	}

	p {
		margin-bottom: $padding;
		text-align: justify;

		img {
			width: 40%;
			height: auto;

			float: left;

			margin-right: $padding;
			margin-bottom: $padding;

			border-radius: 5px;
			box-shadow: 5px 5px 5px $dark;
		}

		a {
			@extend .link;
		}
	}
}