$primary: $gray-100;
$secondary: $blue-600;
$success: $green-100;
$info: #fffffea2;
$dark: $gray-800;
$light: $gray-400;

$shadow: #10639eee;

$body-color: $dark;
$body-bg: $primary;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"danger": $danger,
	"info": $info,
	"dark": $dark,
	"light": $light,
);

$small: 0.7em;

$normal: 1em;
$normal-large: 1.2em;
$normal-huge: 1.5em;

$large: 2em;
$large-up: 2.5em;

$larger: 3em;
$larger-up: 3.5em;

$huge: 4em;
$huge-up: 4.5em;

$jumbo: 5em;
$jumbo-up: 5.5em;

$phone: "(max-width: 799px)";
$tablet: "(min-width: 800px) and (max-width: 1200px)";
$laptop: "(min-width: 1201px) and (max-width: 2000px)";
$tab-and-laptop: "(min-width: 800px) and (max-width: 2000px)";
$tv: "(min-width: 2001px)";