<!-- The base of all pages -->
<!DOCTYPE html>
<html lang="fr-FR">

{{- partial "head.html" . -}}

<body>
	{{- partial "header.html" . -}}

	<div class="content">

		<section>

			{{ .Content }}

			{{ range .Pages.ByPublishDate.Reverse }}
				<p>
					<h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
				
					<a class="summary" href="{{ .RelPermalink }}">
						<p>{{ .Summary }}</p>
					</a>
				</p>
			{{ end }}

		</section>

	</div>

	{{- partial "footer.html" . -}}
		
	{{- partial "script.html" . -}}
	
</body>

</html>
