<!DOCTYPE html>
<html lang="fr-FR">

{{- partial "head.html" . -}}

<body>
	{{- partial "header.html" . -}}

	<div class="content">

		<section class="full-article">

			<h1 class="article-title">{{ .Title }}</h1>

			{{ if .Params.FeatureImage }}
				<figure class="feature-image">
					<a href="{{ .Params.FeatureImage }}" alt="{{ .Title }}">
						<img class="image" alt="{{ .Title }}" src="{{ .Params.FeatureImage }}">
					</a>
				</figure>
			{{ end }}

			<div class="article-content">
				{{ .Content }}
			</div>
		</section>

	</div>

	{{- partial "footer.html" . -}}

	{{- partial "script.html" . -}}
</body>

</html>