<header class="navbar">

	<div id="navbarToggleExternalContent" class="collapse menu m-0">

		{{ range $.Site.Menus.main.ByWeight }}
			<a class="entry" href="{{ $.Site.BaseURL }}#{{ .URL }}">
				<i class="star">⚝</i>
				<h3 class="title">{{ .Name }}</h3>
				<i class="star">⚝</i>
			</a>
		{{ end }}

		{{ range $.Site.Menus.pages.ByWeight }}
			<a class="entry" href="{{ $.Site.BaseURL }}/{{ .URL }}">
				<i class="star">⚝</i>
				<h3 class="title">{{ .Name }}</h3>
				<i class="star">⚝</i>
			</a>
		{{ end }}

	</div>

	<nav class="banner">
		<div class="flex-container left">
			<button class="button" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent">
				<span class="icon fa-solid fa-bars"></span>
			</button>
		</div>

		<div class="flex-container middle">
			<a class="avatar" href="{{ $.Site.BaseURL }}" rel="author">
				<img class="img" alt="Avatar {{ $.Site.Params.author }}" src="/img/theme/avatar.png">
			</a>
		</div>

		<div class="flex-container right">
			<a class="home" href="{{ $.Site.BaseURL }}/a-propos">
				<h1 class="title">À propos</h1>
			</a>
		</div>
	</nav>

</header>