.content > .section > .subtitle {
	padding-top: 2em;
}

.content > .section > .paragraph {
	margin-top: 3em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.timeline {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	height: 25em;

	@media screen and (min-width: 2001px) {
		height: 50em;
	}

	.event {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;

		.star {
			text-align: center;
			width: 1em;
			padding: 0;
			margin-left: 1em;
			margin-right: 1em;
		}

		.right {
			text-align: right;
			width: 49%;
		}

		.left {
			text-align: left;
			width: 49%;
		}

		.date {
			font-style: italic;
		}

		.paragraph {
			margin-top: auto;
			margin-bottom: auto;
		}
	}
}
