{{ define "main" }}

<div class="content text-center">
	
	<section class="main-section"> <!-- _index.html -->
		<!-- BLOCK: add starts around the title -->
		<h1 class="yummy-yam-title">{{ .Title | title }}</h1>

		{{ .Content }} 
	</section>

	{{ range .Pages.ByWeight }} <!-- All other content -->

		{{ if ( gt .Weight 0 ) }}

			<section id="{{ .File.BaseFileName }}" class="main-section">
				<!-- BLOCK: add starts around the title -->
				<h1 class="yummy-yam-title">{{ .Title | title }}</h1>

				{{ .Content }}
			</section>

		{{ end }}

	{{ end }}

</div>

{{ end }}